// colors
$white_255_100: rgb(255, 255, 255);
$white_247_100: rgb(247, 247, 247);
$white_225_100: rgb(225, 225, 225);
$white_226_230: rgb(222, 226, 230);

$green_168_150 :rgb(0, 168, 150);
$green_182_154: rgb(82, 182, 154);
$green_230_208: rgb(230, 230, 208);

$gray_80_87: rgb(73, 80, 87);
$gray_117_125: rgb(108, 117, 125);
$gray_181_189: rgb(173, 181, 189);

$red_56_59 :rgb(229, 56, 59);
